<settings>
  <category label="Catoal">
       <setting id="Updatecommonresolvers" label="Update Commonresolver from Genesis" type="bool" default="true" visible="false"/>
    	<setting type="lsep" label="Versión del Addon Actualizado 01/11/2015" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
        <setting type="lsep" label="https://www.facebook.com/catoal.kodi" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
        <setting type="lsep" label="Twitter: Catoal.Kodi" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />
		<setting type="lsep" label="Email: catoal.kodi@gmail.com" option="close" action="RunPlugin(plugin://plugin.video.Catoal/?mode=7)" />			
		<setting id="ask_playlist_items" type="bool" label="Elegir Fuente de Video" default="true"/>
        <setting id="add_playlist" type="bool" label="Activar Multilink" default="true"/>
        <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"/>
        <setting id="donotshowbychannels" label="Ocultar Canales" type="bool" default="true"/>
 </category>

<category label="Control Parental">
    <setting id="parentalblockedpin" label="Pin" type="text"  option="hidden"  default=""/>
    <setting id="parentalblocked" label="¿Aplicar Control Parental?" type="bool" default="true" enable="true"/>
</category>
</settings>
